@page "/ActivityPages/Details/{id:int}"
@model SeniorConnect.WebApp.Pages.ActivityPages.DetailsModel
@{
    ViewData["Title"] = "Activiteit Details";
}

<main class="activity">
    <div class="activity-card">
        <h1>@Model.Activity.Title</h1>
        <p>Datum: @Model.Activity.Date.ToString("dd-MM-yyyy")</p>
        <p>Starttijd: @Model.Activity.StartTime.ToString(@"hh\:mm")</p>
        <p>Locatie: @Model.Activity.City</p>
        <p>Beschrijving: @Model.Activity.Description</p>
        <p>Maximaal aantal deelnemers: @Model.Activity.MaxParticipants</p>

        <form method="post">
            <input type="hidden" name="ActivityId" value="@Model.Activity.Id" />
            <button type="submit" class="btn btn-primary">Aanmelden</button>
        </form>

    </div>
</main>
